<div class="container mt-3">
  <fieldset class="container mt-5">
    <legend *ngIf="article" class="mb-4"><h4>Add Article</h4></legend>
    <legend *ngIf="!article" class="mb-4">Add</legend>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="title">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" placeholder="Title" formControlName="titleControl"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="source">Source</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="source" placeholder="Source" formControlName="sourceControl"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="link">Link</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="link" placeholder="Link" formControlName="linkControl"/>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="summary">Summary</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="summary" placeholder="Summary" formControlName="summaryControl"></textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="topic">Topic</label>
        <div class="col-sm-10">
          <select class="col-sm-10 form-control" id="topic" formControlName="topicControl">
            <option value="Technology">Technology</option>
            <option value="Education">Education</option>
            <option value="Health">Health</option>
            <option value="Music">Music</option>
          </select>
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-sm-2 col-form-label" for="language">Language</label>
        <div class="col-sm-10">
          <select class="col-sm-10 form-control" id="language" formControlName="languageControl">
            <option value="Korean">Korean</option>
            <option value="English">English</option>
            <option value="German">German</option>
            <option value="French">French</option>
          </select>
        </div>
      </div>
      <div class="row mt-3 align-items-center d-flex">
        <div class="col-sm-6 col-12">
          <button type="button" class="btn btn-light btn-block mb-2 mb-sm-0"  (click)="cancel()">Go Back</button>
        </div>
        <div class="col-sm-6 col-12 d-flex justify-content-sm-end">
          <button type="submit" class="btn btn-success btn-block" (click)="save()">Save</button>
        </div>
      </div>
    </form>
  </fieldset>
</div>
