<div class="container mt-3">
  <div class="row">
    <div class="col-md-6 mb-3">
      <section id="about-me">
        <h2>About Me</h2>
        <p>Hi, I'm Aiiii-den ("artist" name). I'm passionate about Tech, Health, Education & Music, and I love curating
          interesting articles and words/phrases from them. My website serves as a repository where I store article
          summaries and intriguing words and phrases that I come across during my reading sessions. This page is
          designed to help visitors discover valuable insights, stay informed about various topics, and expand their
          vocabulary. Feel free to explore my website and add your own interesting findings too!</p>
        <p><strong>Check out the GitHub repository of this project:</strong><a
          href="https://github.com/Aiiii-den/ArticleSummary_overview" target="_blank">
          <img [src]="'assets/github-mark.png'" alt="GitHub Logo" class="github-logo"/>
        </a></p>
      </section>
    </div>
    <div class="col-md-6 mb-3">
      <section id="why-useful">
        <h2>Why This Page is Useful</h2>
        <ul>
          <li><strong>Stay Informed:</strong> By providing summaries of articles, this page keeps visitors updated on
            the latest trends, news, and developments across different fields of interest.
          </li>
          <li><strong>Save Time:</strong> Instead of reading entire articles, visitors can quickly grasp the main points
            and decide whether they want to delve deeper into the full content.
          </li>
          <li><strong>Expand Vocabulary:</strong> The section dedicated to interesting words and phrases introduces
            visitors to new terminology and enriches their vocabulary, which is beneficial for both personal and
            professional growth.
          </li>
          <li><strong>Curated Content:</strong> Visitors can trust that the articles and words/phrases featured on this
            page are carefully selected and deemed valuable by me, based on my interests and expertise.
          </li>
          <li><strong>Connect and Engage:</strong> Visitors can engage with me through social media or explore further
            by visiting my GitHub repository, fostering a sense of community and collaboration.
          </li>
        </ul>
      </section>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <section id="languages">
        <h2>Article Languages</h2>
        <div class="row flags">
          <div class="col-md-3 mb-3">
            <img src="./assets/country_flags/korean_a.png" alt="korean flag">
          </div>
          <div class="col-md-3 mb-3">
            <img src="./assets/country_flags/english_a.png" alt="english flag">
          </div>
          <div class="col-md-3 mb-3">
            <img src="./assets/country_flags/german_a.png" alt="german flag">
          </div>
          <div class="col-md-3 mb-3">
            <img src="./assets/country_flags/french_a.png" alt="french flag">
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
