<main class="d-flex align-items-center min-vh-100">
  <div class="container text-center">
    Welcome home!
  </div>
</main>

<!--
  implement the following components:
    div for filter function:
      two filter options: language (multi choice), topic (multi choice)
      button: queries the request
      -> overwrites the table with queried results

    div for table with the following rows:
      Title (url is hyperlinked)
      Topic
      Language (first plain text - later as image)
      Summary
      Edit icon
      Delete icon
     -> extra implement sorting function

    div/button for add-article
-->
