<div class="container mt-3">
  <div class="row">
    <!-- For selecting multiple languages -->
    <div class="col-md-6">
      <label>LANGUAGES</label>
      <select class="form-control mt-3 custom-select" multiple [(ngModel)]="selectedLanguage">
        <option value="English">Korean</option>
        <option value="Spanish">English</option>
        <option value="French">German</option>
        <!-- Add more language options as needed -->
      </select>
    </div>

    <!-- For selecting multiple topics -->
    <div class="col-md-6">
      <label>TOPICS</label>
      <select class="form-control mt-3 custom-select" multiple [(ngModel)]="selectedTopic">
        <option value="Technology">Technology</option>
        <option value="Science">Health</option>
        <option value="Art">Education</option>
        <!-- Add more topic options as needed -->
      </select>
    </div>

    <!-- Filter button -->
    <div class="col-md-12 text-right">
      <button class="btn btn-success mt-3" (click)="filterArticles()">Filter</button>
    </div>
  </div>


  <h3 class="m-3">All Articles</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Summary</th>
        <th scope="col">Language</th>
        <th scope="col">Topic</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles; let i=index; ">
        <td>{{ i+1 }}</td>
        <td><a [href]="article.link" target="_blank">{{ article.title }}</a></td>
        <td>{{ article.summary }}</td>
        <td class="flag-column"><img [src]="'assets/country_flags/' + article.language + '_q.png'" alt="{{ article.language }}" class="flag-icon" /></td>
        <td>{{article.topic}}</td>
        <td>
          <button class="btn btn-link"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-link"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
