<div class="container mt-3">
  <div class="row mt-5">
    <div class="col-md-6 mb-3">
      <label><h5>Languages</h5></label>
      <select class="form-control custom-select" multiple [(ngModel)]="selectedLanguage">
        <option value="Korean">Korean</option>
        <option value="English">English</option>
        <option value="German">German</option>
        <option value="French">French</option>
      </select>
    </div>

    <div class="col-md-6 mb-3">
      <label><h5>Topics</h5></label>
      <select class="form-control custom-select" multiple [(ngModel)]="selectedTopic">
        <option value="Technology">Technology</option>
        <option value="Education">Education</option>
        <option value="Health">Health</option>
        <option value="Music">Music</option>
      </select>
    </div>

    <div class="col-md-12 text-right">
      <button class="btn btn-success mt-3" (click)="filterArticles()">Filter</button>
    </div>
  </div>

  <h3 class="m-3">All Articles</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col" class="col-2">Title</th>
        <th scope="col" class="col-1">Source</th>
        <th scope="col" class="col-1">Language</th>
        <th scope="col" class="col-1">Topic</th>
        <th scope="col" class="col-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let article of articles;">
        <td [routerLink]="['/detail-article/', article._id]" class="mouse-pointer">{{ article.title }}&nbsp;<i class="bi bi-zoom-in"></i></td>
        <td><a href="{{ article.link }}" target="_blank">{{article.source }}&nbsp;<i class="bi bi-arrow-up-right-square"></i></a></td>
        <td class="flag-column"><img [src]="'assets/country_flags/' + article.language.toLowerCase() + '_q.png'" alt="{{ article.language }}" class="flag-icon"/></td>
        <td>{{article.topic}}</td>
        <td>
          <button class="btn btn-link" [routerLink]="['/edit-article', article._id]"><i class="bi bi-pencil-square"></i></button>
          <button class="btn btn-link" (click)="deleteArticle(article._id)"><i class="bi bi-trash"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
